## Area of Triangle

# Area =  (base * height) / 2

In [4]:
base = 10
height = 5

area = base * height / 2
print(area)

25.0

In [5]:
type(area)

float

In [7]:
x=10
y=5

x+y

15

In [8]:
x-y

5

In [9]:
x/y

2.0

In [10]:
x%y

0

In [11]:
x**y

100000

In [12]:
10+2*3

16

In [13]:
(10+2)*3

36

In [14]:
foo = 2.3e4
foo

23000.0

In [16]:
bar=2.3e-3
bar

0.0023

In [17]:
food=120.56
rent=7000
utilities=2000
total_expense = food + rent + utilities
print(total_expense)

9120.560000000001

In [ ]:
round(total_expense, 2)

9120.56

In [ ]:
round(total_expense)

9121

In [20]:
income = 100000
expense = 50000
savings = income - expense
print(savings)

50000

In [ ]:
## task
food = "120.56"
rent = "7000"
total = food + rent
print(total)

120.567000

In [ ]:
## Solution - type conversion
food = float(food)
rent = float(rent)
total = food + rent
print(total)

7120.56

In [24]:
type(food)

float

In [25]:
import math
x=16
math.sqrt(x)

4.0

In [26]:
math.floor(2.3)

2

In [27]:
math.ceil(2.3)

3

In [28]:
math.pi

3.141592653589793

In [29]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
## How integer stored in memory
format(5,'b')

'101'

In [ ]:
## check IEEE floating point representation