## Strings

In [1]:
first = "Mohan"
last = "Sharma"
type(first)

str

In [6]:
name = first + " " + last
print(name)
name

Mohan Sharma

'Mohan Sharma'

In [7]:
name = f"{first} {last}"
print(name)
name

Mohan Sharma

'Mohan Sharma'

In [8]:
age = 28

info = f"{first} {last} is {age} years old."
print(info)
info

Mohan Sharma is 28 years old.

'Mohan Sharma is 28 years old.'

In [10]:
name[0]

'M'

In [11]:
name[0:5]

'Mohan'

In [12]:
name[6:]

'Sharma'

In [13]:
name[-1]

'a'

In [14]:
name[-2]

'm'

In [15]:
len(name)

12

In [ ]:
## String objects are immutable, so you cannot change them directly.
# For example, to change the first character of the string, you need to create a new 
# string with the desired change:
name[0]="S"
name

TypeError: 'str' object does not support item assignment

In [17]:
food_story="krish's favorite food is pizza"
s = 'he said "hello"'
food_story
s

'he said "hello"'

In [18]:
recipe = "Veg Biryani with saffron , cardamom, and cloves, garnished with fried onions and coriander."
recipe

'Veg Biryani with saffron , cardamom, and cloves, garnished with fried onions and coriander.'

In [ ]:
recipe = '''
Veg Biryani with saffron , 
cardamom, and cloves, garnished
with fried onions and coriander.
 '''
recipe

'\nVeg Biryani with saffron , \ncardamom, and cloves, garnished\n with fried onions and coriander.\n '

In [22]:
print(recipe)

Veg Biryani with saffron ,
cardamom, and cloves, garnished
 with fried onions and coriander.

In [23]:
spice ="cardamom"
spice in recipe

True

In [24]:
"milk" in recipe

False

In [25]:
recipe.find("cardamom")

29

In [26]:
s = "patient was charged 100$ for the treatment"
s

'patient was charged 100$ for the treatment'

In [29]:
s.replace("100$", "10$")

'patient was charged 10$ for the treatment'

In [30]:
s

'patient was charged 100$ for the treatment'

In [31]:
s= s.replace("100$", "10$")
s

'patient was charged 10$ for the treatment'

In [32]:
s.upper()

'PATIENT WAS CHARGED 10$ FOR THE TREATMENT'

In [33]:
s.lower()

'patient was charged 10$ for the treatment'

In [35]:
'4a10'.isdigit()

False

In [37]:
s.index("10$")

20

In [38]:
text = "my age is:"
age=28
text + str(age)

'my age is:28'

In [40]:
tickers = "AAPL| MSFT| GOOGL| AMZN"
tickers.split("|")

['AAPL', ' MSFT', ' GOOGL', ' AMZN']

In [43]:
data = "   hey, we have to go there, you coming der?   "
data

'   hey, we have to go there, you coming der?   '

In [44]:
data.strip()

'hey, we have to go there, you coming der?'

In [45]:
file_name = "data.txt"
file_name.endswith(".txt")

True

In [46]:
file = "strings_cb.ipynb"
file

'strings_cb.ipynb'