## Variables

In [1]:
## Variables are fundamental in programming, allowing you to store and manipulate data.
##  In Python, variables are created by simply assigning a value to a name.
## they do not need explicit declaration to reserve memory space.
## The declaration happens automatically when you assign a value to a variable

In [2]:
a=100

In [5]:
## declaring and assigning variables

age=30
height=5.4
name="Surendhar"
is_student=True

print(age)      # Output: 30
print(height)   # Output: 5.4
print(name)      # Output: Surendhar
print(is_student)  # Output: True

30
5.4
Surendhar
True

In [6]:
## Naming conventions
## variables names should be descriptive and follow certain conventions:
# 1. Use lowercase letters, numbers, and underscores.
# 2. Start with a letter or underscore, not a number.
# 3. Avoid using reserved keywords (e.g., `if`, `else`, `while`).


#valid variable names

first_name = "John"
last_name = "Doe"

In [7]:
## invalid variable names

13age = 25  # Invalid: starts with a number

SyntaxError: invalid decimal literal (1995293473.py, line 3)

In [8]:
first-name = "John"  # Invalid: contains a hyphen

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2402446445.py, line 1)

In [9]:
@name = "Alice"  # Invalid: contains an at symbol

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2633136677.py, line 1)

In [11]:
## case sensitivity

name="Surendhar"
Name="Surendhar"

Name = name

In [13]:
## Variable types
## Python is dynamically typed,(type of variable is determined at runtime) meaning you don't need to declare the type of a variable explicitly. 
# The type is inferred from the value assigned to it.

age=30
height=5.4
name="Surendhar"
is_student=True

print(type(age))      # Output: <class 'int'>

<class 'int'>

In [14]:
## Type Checking and Conversion

type(height)  # Output: <class 'float'>

float

In [ ]:
age=25
print(type(age))  # Output: <class 'int'>

# type conversion
## int to string conversion
age_str = str(age)  # Convert integer to string
print(type(age_str))  # Output: <class 'str'>

<class 'int'>
<class 'str'>

In [17]:
age='25'
print(type(int(age)))  # Output: <class 'str'>

<class 'int'>

In [18]:
name = "Surendhar"
print(type(int(name)))  # Output: <class 'str'>

ValueError: invalid literal for int() with base 10: 'Surendhar'

In [19]:
height = 5.4
print(type(float(height)))  # Output: <class 'float'>

<class 'float'>

In [ ]:
int(height)  # Convert float to integer

5

In [ ]:
float(int(height)) # Convert integer to float

5.0

In [24]:
## Dynamic Typing
## python alows thew type of a variable to change during runtime.

var=10
print(var,type(var))  # Output: <class 'int'>

var="Hello"
print(var,type(var))  # Output: <class 'str'>

var=3.14
print(var,type(var))  # Output: <class 'float'>

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [27]:
## Input

age = input("Enter your age: ")
print("Your age is:", age, type(int(age)))  # Output: Your age is: <user_input

Your age is: 30 <class 'int'>

In [29]:
## Simple calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2
quotient_result = num1 / num2

print("Sum:", sum_result)
print("Difference:", difference_result)
print("Product:", product_result)
print("Quotient:", quotient_result)

Sum: 40.0
Difference: 0.0
Product: 400.0
Quotient: 1.0

In [ ]:
## Code Basics

can = "soda"
can

'soda'

In [32]:
type(can)  # Output: <class 'str'>

str

In [33]:
pizza=100
pizza

100

In [34]:
type(pizza)  # Output: <class 'int'>

int

In [37]:
samosa=25.2
ice_cream=30

total_cost = pizza + samosa + ice_cream
print("Total cost:", total_cost)  # Output: Total cost: 155

Total cost: 155.2

In [39]:
total_cost > 100

True

In [40]:
above_threshold = total_cost > 100
print("Is total cost above 100?", above_threshold)  # Output: Is total cost

Is total cost above 100? True

In [41]:
type(can)  # Output: <class 'str'>

str

In [42]:
can=5.9
type(can)  # Output: <class 'float'>

float

In [43]:
food="pizza"
bar=food
bar

'pizza'

In [44]:
id(food)

2079656271168

In [45]:
id(bar)  # Output: Memory address of the variable `bar`

2079656271168

In [46]:
bar="samosa"
id(bar)

2079656266944

In [47]:
id(food)

2079656271168

In [ ]:
## reserved words cannot user, special characters cannot be used in variable names

$name = "John"  # Invalid: contains a dollar sign

SyntaxError: invalid syntax (1407844700.py, line 3)

In [ ]:
def = "Alice"  # Invalid: contains a reserved keyword

SyntaxError: invalid syntax (636267688.py, line 1)

In [50]:
True = "True"  # Invalid: cannot use a reserved keyword as a variable name

SyntaxError: cannot assign to True (887026762.py, line 1)

In [51]:
pizza^ = "Pizza"  # Invalid: contains a caret symbol

SyntaxError: invalid syntax (459071140.py, line 1)

In [53]:
na_me= "John"  # Invalid: contains a dollar sign