## Tuples

#### tuples are ordered collections of items that are immutable.
#### They are similar to lists, but their immutability make them different

In [1]:
## creating a tuples

empty_tuples=()
print(empty_tuples)
print(type(empty_tuples))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

##### Type Conversion

In [4]:
## tuples can convert to list
numbers= tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
## list can convert to tuples

list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
### Mixed Tuples

mixed_tuple = (1,"Hello world",3.14,True)
print(mixed_tuple)

(1, 'Hello world', 3.14, True)

#### Indexing and Slicing Operation

In [7]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [8]:
numbers[0]

1

In [9]:
numbers[2]

3

In [10]:
print(numbers[2])
print(numbers[-1])

3
6

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::]

(1, 2, 3, 4, 5, 6)

In [13]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [15]:
##  Tuple OPeration

concatination_tuple = numbers + mixed_tuple
print(concatination_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello world', 3.14, True)

In [ ]:
##  multip

mixed_tuple * 3

(1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True)

In [ ]:
## Immutable Nature of tuples
## tuples are immutable, meaning their elements cannot be changed once assigned

## below list are mutable 
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [18]:
lst[1]="SK"
print(lst)

[1, 'SK', 3, 4, 5]

In [ ]:
## but tuple are immutable
numbers[1]="SK"

TypeError: 'tuple' object does not support item assignment

In [20]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Tuples method
print(numbers.count(1))
print(numbers.index(3))

1
2

In [22]:
## Packing and unpacking Tools 

packed_tuples=1,"Hello",3.14
print(packed_tuples)

(1, 'Hello', 3.14)

In [23]:
## Unpacking tuples

a,b,c = packed_tuples
print(a)
print(b)
print(c)

1
Hello
3.14

In [24]:
## Unpacking with *

numbers

(1, 2, 3, 4, 5, 6)

In [25]:
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [26]:
## Nested tuples 

## tuples inside tuples is called nested tuples
## similarly list inside list is called nested list

lst=[[1,2,3,4],[5,6,7],[1,"hello",3.14,"c"]]
lst[0]

[1, 2, 3, 4]

In [27]:
lst[0][2]

3

In [28]:
lst[0][0:3]

[1, 2, 3]

In [29]:
lst=[[1,2,3,4],[5,6,7],(1,"hello",3.14,"c")]
lst[2][0:3]

(1, 'hello', 3.14)

In [30]:
## NESTED TUPLES

nested_tuples = ((1,2,3,4),("a","b","c"),(True,False))
nested_tuples

((1, 2, 3, 4), ('a', 'b', 'c'), (True, False))

In [32]:
## access the element inside the tuple

print(nested_tuples[0])

(1, 2, 3, 4)

In [33]:
print(nested_tuples[1][2])

c

In [34]:
## iterate over nested tuples

for sub_tuple in nested_tuples:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3 4
a b c
True False

## Conclusion:
'''
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection
of items is required. They are commonly used in data structures, function arguments and return values and as
dictionary keys. understanding how to leverage tuples effectively can improve the efficiency and readability 
of python code 
'''